/*Coded by Griffin Burkhardt for educational and non-profit purposes*/
/*All information/multimedia is created and owned by Tesla*/
/*For additional questions, please contact burkhardtg1@nku.edu*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/*Font palette
Light:        300;
Regular:      400;
Bold:         600;
*/

/*Color palette
Tesla Red:   #cc0000;
Dark Grey:   #222222;
Medium Grey: #666666;
Light Grey:  #EEEEEE;
White:       white;
*/

/*Body*/
html, body {
 font-family: 'Open Sans', sans-serif;
 background-color: #222222;
 margin: 0;
 padding: 0;
 height: 100%;
 width: 100%;
 min-width: 1300px; /*Prevents text from overlapping and/or pushing within certain content areas*/
}
/*Body*/

/*Header*/
#vidHeader {
  display: block;
  position: fixed;
  z-index: -100;
  width: 100%;
  top: 0%;
  min-width: 1300px; /*Prevents video/image from overlapping and/or pushing within certain content areas*/
}
/*Header*/

/*Mobile header*/
#mblHeader {
  display: none; /*Hidden on desktop to utilize the background image style*/
  width: 100%;
}
/*Mobile header*/

/*Header navigation*/
#navHeader {
  position: fixed;
  margin: 0; padding: 0;
  top: 0; left: 0; right: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .3px;
  background-color: #222222;
  z-index: 2;
}
#navHeader li {
  display: inline-flex;
  padding: 16px 10px;
}
#navHeader li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s ease;
}
#navHeader li a:hover {
  opacity: 0.5;
}
#navHeader li a.linkActive {
  opacity: 0.5;
}
/*Header navigation*/

/*Side navigation*/
#navSide {
  height: 100%;
  width: 0;
  top: 0; right: 0;
  position: fixed;
  overflow-x: hidden;
  background-color: #222222;
}
#navSide a {
  padding: 0 30px;
  text-decoration: none;
}
#navSide li {
  float: left;
}
#navSideButton {
  display: inline-flex;
  color: white;
  font-size: 15px;
  padding: 15px 10px;
  padding-right: 20px;
  float: right;
  cursor: pointer;
  }
/*Side navigation*/

/*Mobile*/
.mblLink a {
  display: none; /*When on the desktop/tablet display, the mobile links will be hidden*/
}
.mblSpacer {
  display: none;
}
/*Mobile*/

/*Main*/
#mainTall {
  margin-top: 40%; /*Positions the content below the video/picture*/
  text-align: center;
}
#mainShort {
  margin-top: 30%; /*Positions the content below the video/picture*/
  text-align: center;
}
/*Main*/

/*Content & background*/
.backgroundTitle {
  padding: 30px 0px 40px 0px;
  background-color: white;
}
.backgroundWhite {
  clear: both;
  padding: 45px 0px 60px 0px; /*Because the font has built-in padding, bottom padding is separately defined*/
  background-color: white;
}
.backgroundGrey {
  clear: both;
  padding: 45px 0px 60px 0px; /*Because the font has built-in padding, bottom padding is separately defined*/
  background-color: #f7f7f7;
}
.backgroundAlt {
  clear: both;
  padding: 20px 0px 20px 0px; /*Because the font has built-in padding, bottom padding is separately defined*/
  background-color: #f7f7f7;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.contentPhoto {
  clear: both;
  padding-top: 40px;
  padding-bottom: 0px;
  background-color: white;
}
.pageText {
  width: 50%;
  margin: 0 auto;
  padding-top: 150px;
  color: #222222;
  font-size: 45px;
  font-weight: 300;
}
/*Content & background*/

/*Show & hide*/
.mblShow {
  display: none;
}
/*Show & hide*/

/*Content text*/
.contentTitle, .mblTitle, .dskTitle {
  font-size: 50px;
  font-weight: 300;
}
.mblTitle {
  display: none;
}
.contentSlogan {
  font-size: 30px;
  font-weight: 300;
  padding: 50px 0px 0px 0px;
}
.contentDiscription {
  color: #666666;
  padding-top: 30px;
  width: 50%; /*Wrapper for text*/
  margin: auto;
  text-align: justify;
}
/*Content text*/

/*Split content*/
.contentSplit, .contentSplitX {
  overflow-y: auto;
  background-color: #f7f7f7;
}
.contentSplitTitle {
  text-align: left;
  margin-left: 55%;
  font-size: 40px;
  font-weight: 300;
  color: black;
  padding: 45px 0px 20px 0px;
}
.contentSplitDescription {
  max-width: 40%; /*Custom width, margin, and padding to align the text*/
  margin-left: 55%;
  text-align: justify;
  color: #666666;
}
.contentSplitTitleX {
  text-align: right;
  margin-left: 4.5%;
  max-width: 40%;
  font-size: 40px;
  font-weight: 300;
  color: black;
  padding: 45px 0px 20px 0px;
}
.contentSplitDescriptionX {
  max-width: 40%; /*Custom width, margin, and padding to align the text*/
  margin-left: 4.5%;
  text-align: justify;
  color: #666666;
}
/*Split content*/

/*Column text*/
.columnHeader, .columnHeaderX, .mblColumnHeader {
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: black;
}
.columnHeaderX {
  padding: 20px 0px;
}
.columnDiscription {
  text-align: justify;
  padding: 20px 0 0px 0;
}
.textColumn, .columnPicture, .columnVideo {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*Column text*/

/*Two column*/
.twoColumn {
  padding: 0px 100px;
  display: inline-block;
  vertical-align: top;
}
.twoColumn li a {
  text-decoration: none;
}
/*Two column*/

/*Triple column*/
.tripleColumn, .tripleColumnX {
  text-align: left;
  margin-right: 50px;
  display: inline-block;
  vertical-align: top;
}
.tripleColumn li a {
  text-decoration: none;
}
.tripleColumn li {
  color: #666666;
}
/*Triple column*/

/*Multi column*/
.multiColumn, .multiColumnX {
  text-align: left;
  padding: 0px 20px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
.multiColumn li a {
  text-decoration: none;
}
.multiColumn li, .multiColumnX {
  padding-bottom: 20px;
}
/*Multi column*/

/*Specs column*/
.specColumn {
  text-align: justify;
  padding: 0px 50px;
  width: 500px;
  display: inline-block;
  vertical-align: top;
}
.specColumn li a {
  text-decoration: none;
}
.specColumn li {
  padding-bottom: 20px;
}
/*Specs column*/

/*Misc column*/
.splitColumn {
  padding: 0px 50px;
  display: inline-block;
  vertical-align: top;
}
.columnPicture li {
  text-align: center;
  width: 400px;
  color: #666666;
}
.columnPictureX li {
  width: 300px; /*Custom width for content-specific images*/
  list-style: none;
}
.columnVideo {
  display: inline-block;
  vertical-align: top;
}
.columnVideo li {
  text-align: justify;
  width: 500px;
  color: #666666;
}
/*Misc column*/

/*HTML elements*/
p {
  color: #666666;
  width: 50%; /*Wrapper for the paragraph text*/
  margin: auto;
  padding: 20px 0px 30px 0px;
  text-align: justify;
}
p a { /*Any links defined within the p element*/
  text-decoration: none;
  color: #cc0000;
}
h3 {
  font-size: 17px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #222222;
  width: 1110px; /*Width of defined section*/
}
b {
  color: #222222;
  font-weight: 600;
}
/*HTML elements*/

/*Supercharger map*/
#googleMap {
  width: 50%;
  position: relative;
  z-index: 0;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
/*Supercharger map*/

/*Buttons*/
 .buttonRedSmall, .buttonBlackSmall, .buttonBlueSmall, .buttonBlueSmallSpacer, .buttonBlackLarge, .buttonRedLarge {
  font-size: 13px;
  padding: 12px 10px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
.buttonEmail {
  font-size: 13px;
  margin-bottom: 0px;
  padding-top: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  width: 150px;
  background-color: #CC0001;
  color: white;
}
.buttonRedSmall, .buttonBlackSmall {
  letter-spacing: .3px;
  width: 13%;
  margin: 0px 10px 0px 10px;
  color: white;
}
.buttonRedSmall:hover, .buttonBlackSmall:hover, .buttonBlackLarge:hover, .buttonRedLarge:hover, .buttonBlueSmall:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.buttonRedSmall {
  background-color: #CC0001;
}
.buttonBlackSmall {
  background-color: #222222;
}
.buttonBlackLarge, .buttonRedLarge {
  letter-spacing: .3px;
  width: 20%;
  color: white;
}
.buttonBlackLarge {
  background-color: #222222;
}
.buttonRedLarge {
  background-color: #CC0001;
}
.buttonBlueSmall {
  letter-spacing: .3px;
  width: 150px;
  background-color: #2693FF;
  color: white;
}
/*Buttons*/

/*Sign In*/
.signIn {
  width: 30%;
  padding: 20px;
  border: 1px solid lightgrey;
  background-color: #EEEEEE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 45px;
  font-weight: 300;
}
#emailAccount, #passwordAccount {
  margin-left: 0;
  margin-right: 0;
  max-width: 450px;
  width: 100%;
  border: 1px solid lightgrey;
}
.buttonAccount {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  font-weight: 600;
  border: none;
  background-color: #cc0000;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5px;
}
/*Sign In*/

/*Multimedia*/
#splitImage {
  float: left;
  width: 50%;
  height: 50%;
}
#splitImageX {
  float: right;
  width: 50%;
  height: 50%;
}
.backgroundRoadster {
  background-image: url("roadster/backgroundRoadster.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.backgroundHome {
  background-image: url("home/backgroundHome.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.backgroundSemi {
  background-image: url("semi/backgroundSemi.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.backgroundAccount {
  background-image: url("account/backgroundAccount.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/*Multimedia*/

/*Parallax images*/
#homeEnergy, #utilityEnergy, #interiorModelS {
  padding: 15% 0; /*Defines size of picture*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#utilityEnergy {
  background-image: url('energy/utilityEnergy.jpg');
  background-position: 0 0px;
  margin-bottom: 30px;
}
#homeEnergy {
  background-image: url('energy/homeEnergy.jpg');
  background-position: 0 30px;
  margin-bottom: 30px;
}
#interiorModelS {
  background-image: url('modelS/interiorModelS.jpg');
  background-position: 0 50px;
}
.mobileMultimedia, .mobileMultimediaButton {
  display: none;
}
.videoMultimedia, .contentImage {
  padding: 30px 0px 10px 0px;
}
.videoMultimedia {
  width: 50%;
  height: 50%;
}
.contentImage {
  width: 50%;
  height: 50%;
}
/*Parallax images*/

/*Form*/
input {
  width: 20%;
  padding: 12px;
  margin-right: 10px;
  margin-top: 30px;
  border: 1px solid #666666;
}
input[type=email]:focus {        /*When the user selects the box, the border will change*/
  border: 1px solid #222222;
  outline: none;
}
#emailInput {        /*Predefined attributes*/
  color: #666666;
  background-color: white;
  font-size: 15px;
}
/*Form*/

/*Footer navigation*/
#navFooter {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: .3px;
  background-color: white;
  color: #919191;
}
#navFooter li {
  display: inline-flex;
  padding: 17px 12px;
}
#navFooter li a {
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 13px;
  color: #919191;
}
/*Footer navigation*/

/*Mobile display*/
@media (max-width: 768px) {

/*Body*/
body, html {
  min-width: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/*Body*/

/*Show & hide*/
.mblShow {
  display: block;
}
.dskHide {
  display: none;
}
/*Show & hide*/

/*Header navigation*/
#navHeader .linkHide {
  display: none;
}
#mblHeader {
  margin-top: 50px; /*Positions the content below the video/picture*/
  display: block;
  top: 0;
}
#vidHeader {
  display: none;
}
/*Header navigation*/

/*Side navigation*/
#navSideButton {
  display: inline-flex;
  padding: 15px 13px;
  margin-right: 5px;
}
#navSideButton li a:hover {
  opacity: 0.5;
}
#navSide .mblLink a {
  display: block;
}
/*Side navigation*/

/*Mobile*/
.mblSpacer {
  display: block;
  padding: 40px;
}
/*Mobile*/

/*Main*/
#mainTall, #mainShort {
  margin: 0;
  padding: 0;
}
/*Main*/

/*Content & background*/
.contentTitle, .contentSlogan, .contentDiscription, .mblTitle, .contentSplitTitle, .contentSplitTitleX, .contentSplitDescription, .contentSplitDescriptionX, .tripleColumn, .tripleColumnX, .multiColumn, .multiColumnX, .columnHeader, .columnVideo li, .pageText, p, .specColumn, .splitColumn, #googleMap, .signIn {
  width: 90%;
  margin: 0 auto;
  max-width: 100%;
}
.splitColumn {
  padding: 0px;
}
.contentSplit, .contentSplitX {
  padding-bottom: 40px;
}
.pageText {
  font-size: 30px;
  color: #222222;
  padding-top: 90px;
}
/*Content & background*/

/*Content text*/
.dskTitle {
  display: none;
}
.mblTitle {
  display: block;
}
/*Content text*/

/*Split content*/
.contentSplitTitle, .contentSplitTitleX {
  text-align: center;
}
/*Split content*/

/*Column text*/
.columnVideo li {
  width: auto;
}
.columnHeader {
  padding: 0;
  width: 100%;
}
.mblColumnHeader {
  display: none;
}
/*Column text*/

/*Spec column*/
.specColumn {
  padding: 0px;
  text-align: left;
}
/*Spec column*/

/*Two Column*/
.twoColumn {
  padding: 0px;
  display: block;
}
/*Two column*/

/*Triple column*/
.tripleColumn {
}
/*Triple column*/

/*Multi column*/
.multiColumn li {
  padding-bottom: 20px;
}
/*Multi column*/

/*Misc column*/
.columnPicture li {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}
.columnPictureX {
  padding: 0;
}
.columnPictureX li {
  width: 100%;
  text-align: center;
}
/*Misc column*/

/*HTML elements*/
hr {
  width: 90%;
}
/*HTML elements*/

/*Supercharger map*/
#googleMap {
  position: relative;
  z-index: 0;
  height: auto;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 20px;
}
/*Supercharger map*/

/*Buttons*/
.buttonRedSmall, .buttonBlackSmall, .buttonBlueSmall {
  width: 60%;
}
.buttonBlackLarge, .buttonRedLarge {
  width: 80%;
}
.buttonBlackSmall {
  margin-bottom: 5px;
}
/*Buttons*/

/*Multimedia*/
#splitImage, #splitImageX {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  min-width: auto;
  margin: 0 auto;
}
#splitImageX {
  padding-top: 50px;
}
.contentImage, .videoMultimedia {
  width: 90%;
  height: 90%;
}
#interiorModelS, #homeEnergy, #utilityEnergy {
  display: none;
}
.mobileMultimedia {
  display: block;
  width: 100%;
  height: 100%;
  min-width: auto;
  margin: 0 auto;
}
.mobileMultimediaButton {
  display: block;
  width: 100%;
  height: 100%;
  min-width: auto;
  padding-bottom: 30px;
}
.backgroundHome {
  background-position: -225px;
}
.backgroundRoadster {
  background-position: -450px;
}
.backgroundSemi {
  background-position: -250px;
}
/*Multimedia*/

/*Form*/
input {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 30px;
}
#emailAccount, #passwordAccount {
  max-width: 90%;
}
/*Form*/

/*Footer Navigation*/
#navFooter .linkHide {
  display: none;
}
/*Footer Navigation*/
